<html>
    <head></head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1><%= @task.name %></h1>
                    <p><%= @task.description %></p>
                    <h3>List of changes</h3>
                    <ul>
                        <% @task.change_set.each do |change| %>
                            <li><%= change.text %></li>
                        <% end %>
                    </ul>

                </div>
            </div>
        </div>
    </body>
</html>